* {
        font-family: 'Lobster', Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
        color: burlywood;
}

body{
        background-color: rgb(36, 34, 34);
        margin-top: 6%;  
        text-align: center;    

}

#start{
        width: 10%;
        height: 15vh;
        font: 36px;
        background-color: darkred;
        color: rgb(36, 34, 34);
        animation: start 6s;
        border-radius: 50%;

}

#start:hover{
        border: solid 1px black;
}

@keyframes start {
        from{
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

#quit {
        width: 10%;
        height: 50%;
        font-size: 60%;
        background-color: indianred;
        color: rgb(36, 34, 34);
        animation: start 3s;

}
li {
        display: flex;
}
h1 {
        text-align: center;
        color: purple;
        -webkit-text-stroke: 1px indianred;
        -webkit-text-fill-color: black;
        font-size: 48px;
        margin: auto;
        margin-bottom: 10vh;
        letter-spacing: 3px; 
        border-bottom: solid 5px rgb(36, 34, 34);   
        width: min-content; 
 
        
}
.app{
        width: 80%;
        margin: auto;
        border-radius: 15px;
        border: solid 2px indianred;
        margin-top: -5%;

}
.container {
        width: 100%;
        height: auto;
        background-color: darkred;
        border-radius: 15px;
        margin: auto; 
    
}
.side{
        width: 3%;
        border-radius: 15px;
        margin: auto;
}

.pit {
        height: 60px;
        width: 150%;
        rotate: 90deg;
        display: flex;
        justify-content: center;
        border-radius: 10px 10px;
        background-color: indianred;
        -webkit-text-stroke: 1px darkred;
        -webkit-text-fill-color: black;
        font-size: 36px;
        border: solid 5px black;
}

.marble{
        size: 1vh;
        border: solid 1px black;
        width: 10px;
        height: 10px;
        margin: 1px;
        border-radius: 50%;
        


}
.left{  height: 60vh;
        rotate: 270deg;
        margin-top: -30vh;
}

.right{
        height: 60vh;
        rotate: 270deg;
        margin-top: -50vh;
}
.store{ 
        width: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px;
        background-color: lightcoral;

}
.left{
        display: flex;
        flex-flow: column-reverse nowrap;
}
.right{
        display: flex;
        flex-flow: column nowrap;
}
.homeLeft{
        display: flex;
        flex-flow: column nowrap;
}
.homeRight{
        display: block;
        flex-flow: column nowrap;
        transform: (-1,1);
}
button {
        border-radius: 5px;
}
